In [1]:
import pymongo
import json
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import roc_curve, roc_auc_score

# Connect to mongo Database
conn_str = "mongodb+srv://<username>:<password>@medical.5ml64kh.mongodb.net/?retryWrites=true&w=majority"

try:
    client = pymongo.MongoClient(conn_str)
except Exception:
    print("Error: " + str(Exception))

# Connect database
db = client["stream_medical_data"]
# Connect collection
collection =db["cardiac_failure"]

In [2]:
# Find all message with one line code :D
x = collection.find()

# Show in pandas dataframe
def df_extraction():
    df = pd.DataFrame.from_dict(x)
    print(f"Dataframe shape: {df.shape}")
    return df

In [3]:
df = df_extraction()
print(df.shape)
df.head()

Dataframe shape: (1354, 24)
(1354, 24)

,_id,gender_1,cholesterol_2,cholesterol_3,gluc_2,gluc_3,smoke_1,alco_1,active_1,bmicat_2.0,...,agecat_4.0,agecat_5.0,agecat_6.0,agecat_7.0,hyper_tension_gr_2,hyper_tension_gr_3,Label,Score,target,time
0,62fb5620f0f2193dd7b684ce,1,0,0,0,0,1,0,1,1,...,0,0,1,0,0,0,0,0.5002,1,16/08/2022 11:32:32
1,62fb5621f0f2193dd7b684cf,0,0,1,0,1,0,0,1,1,...,1,0,0,0,0,0,0,0.5000,1,16/08/2022 11:32:33
2,62fb5621f0f2193dd7b684d0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0.5003,0,16/08/2022 11:32:33
3,62fb5622f0f2193dd7b684d1,1,0,0,0,0,0,0,1,0,...,1,0,0,0,1,0,1,0.5003,1,16/08/2022 11:32:34
4,62fb5622f0f2193dd7b684d2,1,0,1,0,0,0,0,1,0,...,1,0,0,0,1,0,1,0.5004,1,16/08/2022 11:32:34

In [4]:
def model_eval(prediction,test):
    print("Classification Report: ")
    print(classification_report(test,prediction))
    print('Train Accuracy score: {0:0.2f}'.format(accuracy_score(test, prediction)))
    print('Train ROC AUC score: {0:0.2f}'.format(roc_auc_score(test, prediction)))

prediction = df.Label.values
fact = df.target.values

model_eval(prediction,fact)

Classification Report:
              precision    recall  f1-score   support

           0       0.68      0.71      0.70       701
           1       0.67      0.64      0.66       653

    accuracy                           0.68      1354
   macro avg       0.68      0.68      0.68      1354
weighted avg       0.68      0.68      0.68      1354

Train Accuracy score: 0.68
Train ROC AUC score: 0.68